// Animationen
@keyframes blink-shadow {
  0%, 100% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
  }
  50% {
    box-shadow: 0 0 20px 4px $secondary-color;
  }
}

section{
    margin: 0;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: $primary-color;
}
section .text{
    position: relative;
    font-size: 12vw;
    text-align: center;
    color: $text-color;
    -webkit-box-reflect: below -0.46em linear-gradient(transparent, #0004);
}
section .text span{
    position:relative;
    display: inline-block;
}

.hide {
    display: none;
}