// Karten Styling
.battlefield {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding-top: 60px;
  overflow: hidden; // Verhindert das Ausdehnen des Containers durch die Kartenanimation
  position: relative; // Stellt sicher, dass der Container der Bezugspunkt für die Animationen bleibt
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
}

.card-header {
  position: absolute;
  background-color: $header-bg-color;
  color: $header-text-color;
  padding: 0px 5px;
  border-radius: 0 0 10px 10px;
  width: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  top: 10px;
  text-align: center;
  font-weight: bold;

  h2 {
    margin: 0.2em 1em;
  }
}

.card-spieler,
.card-computer {
  position: relative; // Lasse die Karten relativ positioniert, um ihre natürliche Größe beizubehalten
  width: 100%;
  max-width: 550px; // Passe die maximale Breite der Karten an, damit sie nicht zu klein oder zu groß sind
  height: auto;
  aspect-ratio: $card-aspect-ratio; // Verwende den Wert 0.75 für das Seitenverhältnis der Karten
  border-radius: 1em;
  overflow: hidden;
  transition: transform 0.6s; // Stelle sicher, dass die Animationseigenschaften definiert sind

  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 5px;
  }
}

// Karten Umdreheffekt
.card-flip {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform $transition-duration;
  perspective: 1000px; // Tiefe für 3D-Effekt
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: $card-radius;
  backface-visibility: hidden; // Verhindert das Zeigen der Rückseite
  box-sizing: border-box; // Rahmen und Padding werden innerhalb der Breite berücksichtigt
}

.card-front {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: $card-radius;
  box-shadow: $card-shadow;
  background: linear-gradient(to bottom, #f5f5f5 95%, #444444 5%);
  border: 0.8em solid $card-border-color;
  position: absolute;
  backface-visibility: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column; // Inhalt vertikal anordnen
  justify-content: space-between; // Platzierung am oberen und unteren Rand
}

.card-back {
  transform: rotateY(180deg); // Dreht die Rückseite um 180 Grad
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: auto;
    border-radius: $card-radius;
  }
}

// Eigenschaftenliste
.card-properties {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    width: 100%;
    color: $header-text-color;
  }
}

// Eigenschaftslabel und Skala
.property-label {
  flex: 1;
  text-align: left;
  font-weight: bold;
}

.property-value {
  flex: 0.5;
  text-align: center;
  font-weight: bold;
}

.rating-scale {
  flex: 1;
  height: 10px;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 10px;
  min-width: 100px;
  display: flex;
  justify-content: flex-end;

  .rating-bar {
    width: 100%;
    height: 100%;
    transition: width 0.3s;
  }
}

.card-description {
  width: calc(100% + 40px); // Breite auf die gesamte Karte setzen (inklusive des Paddings)
  margin: 0 -20px; // Negativer Rand, um das Padding der Karte auszugleichen
  color: $header-text-color;
  font-size: $font-size;
  line-height: 1.5;
  background-color: $card-border-color; // Hintergrundfarbe für die Beschreibung
  box-sizing: border-box;
}
.card-properties-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0; // Standardabstand zwischen den Listenelementen
    width: 100%;
    color: $header-text-color;
  }
}

@media (max-width: 1100px) {
  .card-description {
    font-size: 0.9em; // Kleinere Schriftgröße für die Kartenbeschreibung
  }

  .card-front img {
    width: 80%; // Verkleinert das Bild auf der Vorderseite
    margin: 0 auto; // Zentriert das Bild auf der Vorderseite
  }
}

@media (max-width: 950px) {
  .card-properties-list li {
    line-height: 0.5;
    font-size: 0.9em;
    margin: 5px 0; // Verringerter Abstand zwischen den Listenelementen für kleinere Bildschirme
  }
}

@media (max-width: 850px) {
  .card-description {
    font-size: 0.7em; // Kleinere Schriftgröße für die Kartenbeschreibung
  }
  .card-properties-list li {
    font-size: 0.7em;
  }
}

@media (max-width: 700px) {
  .card-description {
    font-size: 0.6em; // Kleinere Schriftgröße für die Kartenbeschreibung
  }
  .card-properties-list li {
    font-size: 0.6em;
  }
}

