// src/styles/components/_infoPopup.scss

/* Popup-Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 5vh; // Reduzierter oberer Abstand
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 101;
}

/* Popup-Content */
.popup-content {
  background-color: $primary-color;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%; // Erhöhte Breite
  max-width: 1200px; // Erhöhte maximale Breite
  max-height: 90vh;
  overflow-y: auto;
  color: $text-color;
  
  @media (max-width: 991px) {
    width: 95%;
    padding: 20px;
  }
}

/* About Me */
.about-me {
  color: $text-color;
  margin-top: 20px;
  
  h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 1.5em;
  }

  a {
    color: $text-color;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

/* Schließen-Button */
.schliesen-button {
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;

  .button {
    background-color: $primary-dark-color;
    color: $text-color;
    border: none;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.1em;

    &:hover {
      background-color: $primary-light-color;
      color: $secondary-color;
    }
  }
}