// Primary-Farben
$primary-color: #8d8787; // Primärfarbe
$primary-light-color: lighten($primary-color, 15%); // Hellere Variante der Primärfarbe
$primary-dark-color: darken($primary-color, 15%); // Dunklere Variante der Primärfarbe

// Secondary-Farben
$secondary-color: #444444; // Sekundärfarbe
$secondary-light-color: lighten($secondary-color, 15%); // Hellere Variante der Sekundärfarbe
$secondary-dark-color: darken($secondary-color, 15%); // Dunklere Variante der Sekundärfarbe

// Textfarben
$text-color: #ffffff; // Allgemeine Textfarbe

// Button-Farben
$button-bg-color: rgba($text-color, 0.8); // Hintergrundfarbe für Buttons
$button-hover-bg-color: rgba($text-color, 1); // Hover-Hintergrundfarbe für Buttons

// Sonstige Farben und Styles
$card-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); // Schatten für Karten
$card-radius: 1em; // Karten-Radius
$transition-duration: 0.6s; // Dauer der Übergänge
$gap-small: 20px; // Kleine Abstände
$font-size: 17px; // Standard-Schriftgröße
$card-aspect-ratio: 0.75; // Karten-Seitenverhältnis
