// Variablen
$primary-bg-color: #8d8787;
$text-color: #ffffff;
$header-bg-color: #444444;
$header-text-color: #f5f5f5;
$button-bg-color: rgba(255, 255, 255, 0.8);
$button-hover-bg-color: rgba(255, 255, 255, 1);
$card-border-color: #444444;
$card-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
$card-radius: 1em;
$transition-duration: 0.6s;
$gap-small: 20px;
$font-size: 17px;
$card-aspect-ratio: 0.75;
